/Ability.class
/AggieSelect.class
/AggieTurnClass.class
/Aquados.class
/Attack.class
/BattleManager.class
/CharChimp.class
/Creature.class
/DreamReaper.class
/Finality.class
/Ghoully.class
/Iceguin.class
/Main.class
/MedinaSaur.class
/Memorra.class
/Pegasus.class
/StatsManager.class
/UserInput.class
